.about {
  padding-top: 9px;
  padding-bottom: 80px;

  color: $color-dark-blue;

  background-color: $color-alice-blue;

  @media (max-width: $max-tablet-width) {
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 0;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 5px;
    padding-left: 0;

    background-image: none;
  }
}

.about__wrapper {
  padding-bottom: 40px;
  padding-left: 31.2%;

  background-image: url("../img/backgrounds/year.png");
  background-repeat: no-repeat;
  background-position: 19.8% -13px;
  background-size: 150px 320px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/year@2x.png");
  }

  @media (max-width: $vp-1280) {
    padding-left: 29.2%;

    background-position: 7.5% -9px;
  }

  @media (max-width: $max-mobile-width) {
    padding-left: 8%;

    background-image: none;
  }
}

.about__title {
  margin: 0;
  margin-top: 4px;
  margin-bottom: 27px;

  font-weight: 400;
  font-size: 36px;

  @media (max-width: $max-mobile-width) {
    margin-top: 0;
    margin-bottom: 19px;

    font-size: 28px;
  }
}

.about__description {
  margin: 0;

  font-size: 16px;
  line-height: 21px;
  font-family: $ff-alternative;

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
    line-height: 19px;
  }

  &--last {
    margin-top: 23px;
    margin-bottom: 42px;

    @media (max-width: $max-tablet-width) {
      margin-bottom: 22px;
    }

    @media (max-width: $max-mobile-width) {
      margin-top: 19px;
      margin-bottom: 13px;
    }
  }

  &--fullscreen {
    @media (max-width: $max-mobile-width) {
      display: none;
    }
  }

  &--extra {
    display: none;
  }

  &--extra.is-active {
    display: block;
  }
}

.about__button {
  padding: 13px 50px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  vertical-align: baseline;
  text-align: center;
  color: $color-light-blue;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: transparent;
  border: 1px solid $color-light-blue;
  border-radius: 3px;

  @media (max-width: $max-mobile-width) {
    padding: 8px 40px;
  }


  &:hover {
    color: $color-white;

    background-color: $color-light-blue;
  }

  &:active {
    background-color: $color-dark-blue;
  }
}
