.callback-form {
  max-width: 580px;

  @media (max-width: $max-tablet-width) {
    max-width: 100%;
  }
}

.callback-form__input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 21px;
  }

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }

  &--modal {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.callback-form__input-wrapper input {
  width: 275px;
  height: 50px;
  padding-left: 15px;

  color: $color-default-white;

  background-color: rgba($color-dark-blue, 0.15);
  border: none;
  border-radius: 3px;

  @media (max-width: $max-tablet-width) {
    width: 320px;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
  }
}

.callback-form__input-wrapper--modal input {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}


@media (max-width: $max-mobile-width) {
  .callback-form__input-wrapper input:not(:last-child) {
    margin-bottom: 20px;
  }
}

.callback-form textarea {
  min-width: 580px;
  min-height: 155px;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-left: 15px;

  color: $color-default-white;

  background-color: rgba($color-dark-blue, 0.15);
  border: none;
  border-radius: 3px;

  @media (max-width: $max-tablet-width) {
    min-width: 100%;
    margin-bottom: 28px;
    padding-top: 30px;
  }

  @media (max-width: $max-mobile-width) {
    min-height: 179px;
    margin-bottom: 23px;
    padding-top: 22px;
  }

  &--modal {
    min-width: 100%;
    margin-bottom: 18px;
  }
}

.callback-form__input-wrapper input::placeholder,
.callback-form textarea::placeholder {
  font-size: 16px;
  line-height: 22px;
  font-family: $ff-alternative;
  color: $color-default-white;
}

.callback-form__submit-wrapper {
  display: flex;

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }

  &--modal {
    flex-direction: column;
  }
}

.callback-form--modal textarea {
  min-width: 100%;
}

.callback-form__btn {
  width: 265px;
  margin-right: 50px;
  padding: 13px 75px;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: $color-dark-blue;
  border: none;
  border-radius: 3px;

  @media (max-width: $max-tablet-width) {
    margin-right: 85px;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 19px;
  }

  &--modal {
    width: 100%;
    margin-right: 0;
    margin-bottom: 7px;
  }

  &:hover {
    color: $color-dark-blue;

    background-color: $color-white;
  }

  &:active {
    opacity: 0.3;
  }
}
