.features-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 30px;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $max-mobile-width) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.features-list__item {
  min-height: 300px;
  padding: 100px 45px 35px 40px;

  background-repeat: no-repeat;
  background-position: 44px 40px;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-light-blue;

  @media (max-width: $max-tablet-width) {
    min-height: 360px;
    padding: 91px 40px 26px 40px;
  }

  @media (max-width: $max-mobile-width) {
    min-height: 340px;
    padding-top: 76px;
    padding-right: 30px;
    padding-left: 25px;

    background-position: 30px 30px;
    background-size: 30px 30px;
  }


  &--speed {
    background-image: url("../img/svg/stopwatch.svg");
  }

  &--supply {
    background-image: url("../img/svg/hired.svg");

    @media (max-width: $max-mobile-width) {
      background-position: 25px 30px;
    }
  }

  &--secret {
    background-image: url("../img/svg/detective.svg");

    @media (max-width: $max-tablet-width) {
      padding-top: 87px;

      background-position: 36px 38px;
    }

    @media (max-width: $max-mobile-width) {
      min-height: 325px;
      padding-top: 78px;
      padding-bottom: 10px;

      background-position: 25px 30px;
    }
  }

  &--price {
    background-image: url("../img/svg/tag.svg");


    @media (max-width: $max-tablet-width) {
      padding-top: 85px;
    }

    @media (max-width: $max-mobile-width) {
      min-height: 325px;
      padding-top: 78px;

      background-position: 25px 30px;
    }
  }

  &--extra {
    padding-left: 45px;

    background-color: $color-light-blue;
    border: none;

    @media (max-width: $max-mobile-width) {
      padding-left: 30px;
    }
  }
}

.features-list__title {
  margin: 0;
  margin-bottom: 18px;

  font-weight: 400;
  font-size: 24px;
  color: $color-light-blue;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 8px;

    line-height: 34px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 9px;

    font-size: 20px;
    line-height: 28px;
  }
}

.features-list__item--price h3 {
  @media (max-width: $max-tablet-width) {
    margin-bottom: 4px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 13px;
  }
}

.features-list__item--secret h3 {
  @media (max-width: $max-mobile-width) {
    margin-bottom: 13px;
  }
}

.features-list__description {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-family: $ff-alternative;
  color: $color-dark-blue;

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
    line-height: 19px;
  }
}

.features-list__item--extra h3,
.features-list__item--extra p {
  color: $color-white;
}
