.footer {
  display: flex;
  flex: 0 0 auto;
  margin-top: auto;
  padding-top: 50px;
  padding-bottom: 55px;
  overflow: hidden;

  color: $color-white;

  background-color: $color-dark-blue;

  @media (max-width: $max-mobile-width) {
    padding-top: 35px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  margin: 0;


  @media (max-width: $max-tablet-width) {
    flex-grow: 1;
    flex-direction: column;
  }
}

.footer__nav {
  margin-right: 9.3%;

  @media (max-width: $vp-1280) {
    margin-right: 3%;
  }

  @media (max-width: $max-tablet-width) {
    margin-right: 148px;
  }

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}

.footer__nav-wrapper {
  display: flex;
  margin-top: 7px;


  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 23px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 0;
  }
}

.footer__toggle {
  display: none;

  @media (max-width: $max-mobile-width) {
    position: absolute;
    top: -39px;
    right: -8px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    background: transparent;
    border: none;

    &:hover {
      opacity: 0.5;
    }
  }
}

@media (max-width: $max-mobile-width) {
  .footer__nav {
    position: relative;

    margin-right: 0;
    padding-top: 0;

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: -25px;
      z-index: 1;

      display: block;
      width: 100vw;
      height: 1px;

      background-color: rgba($color-white, 0.7);
    }
  }

  .footer__contacts {
    position: relative;

    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -25px;
      z-index: 1;

      display: block;
      width: 100vw;
      height: 1px;

      background-color: rgba($color-white, 0.7);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -25px;
      z-index: 1;

      display: block;
      width: 100vw;
      height: 1px;

      background-color: rgba($color-white, 0.7);
    }
  }

  .footer__menu {
    position: relative;
  }

  .footer__list {
    display: none;
  }

  .footer__menu.is-active .footer__list,
  .footer__menu.no-js .footer__list {
    display: block;
  }

  .footer__title {
    position: relative;
    padding: 20px 0;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      right: -3px;

      width: 20px;
      height: 20px;

      background-image: url("../img/svg/plus.svg");
      background-repeat: no-repeat;
    }
  }

  .footer__menu.is-active .footer__title::before {
    background-image: url("../img/svg/minus.svg");
  }
}
