.footer {
  display: flex;
  padding-top: 50px;
  padding-bottom: 55px;

  color: $color-white;

  background-color: $color-dark-blue;

  @media (max-width: $max-mobile-width) {
    padding-top: 35px;
  }
}

.footer__wrapper {
  display: flex;
  margin: 0;

  @media (max-width: $max-tablet-width) {
    flex-direction: column;
  }
}

.footer__nav {
  margin-right: 77px;

  @media (max-width: $max-tablet-width) {
    margin-right: 148px;
  }

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}

.footer__nav-wrapper {
  display: flex;
  margin-top: 7px;


  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 23px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 14px;
  }
}

.footer__toggle {
  display: none;

  @media (max-width: $max-mobile-width) {
    position: absolute;
    top: -39px;
    right: -8px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    background: transparent;
    border: none;

    &:hover {
      border: 1px solid $color-light-blue;
      border-radius: 50%;
    }

    &:active {
      background-color: $color-light-blue;
    }
  }
}

@media (max-width: $max-mobile-width) {
  .footer__nav {
    position: relative;

    margin-right: 0;
    padding-top: 20px;

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: -30px;
      z-index: 1;

      display: block;
      width: 325px;
      height: 1px;

      background-color: rgba($color-white, 0.7);
    }
  }

  .footer__contacts {
    position: relative;

    margin-top: 7px;
    padding-top: 23px;
    padding-bottom: 2px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -30px;
      z-index: 1;

      display: block;
      width: 325px;
      height: 1px;

      background-color: rgba($color-white, 0.7);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -30px;
      z-index: 1;

      display: block;
      width: 325px;
      height: 1px;

      background-color: rgba($color-white, 0.7);
    }
  }

  .footer__menu {
    position: relative;
  }

  .footer__list {
    display: none;
  }

  .footer__menu.is-active .footer__list {
    display: block;
  }


  .footer__menu.is-active .footer__open-icon {
    display: none;
  }

  .footer__menu.is-active .footer__close-icon {
    display: block;
  }

  .footer__open-icon {
    display: block;
  }

  .footer__close-icon {
    display: none;
  }
}
