.form-agreement {
  display: flex;
  align-items: center;
  margin-top: 13px;


  @media (max-width: $max-tablet-width) {
    margin-top: 6px;
  }

  @media (max-width: $max-mobile-width) {
    margin-left: 6px;
  }
}

.form-agreement__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: $ff-alternative;

  opacity: 0.8;
}

.form-agreement__checkbox {
  position: relative;

  display: block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  padding: 6px;

  border: 1px solid $color-default-white;
  border-radius: 2px;
}

.form-agreement__input:checked + .form-agreement__checkbox::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 15%;

  display: block;
  width: 10px;
  height: 5px;

  background-image: url("../img/svg/checked.svg");
  background-repeat: no-repeat;
}
