.header {
  background-image: url("../img/backgrounds/main_background_desktop.png");
  background-size: cover;
  background-color: rgba($color-dark-blue, 0.5);

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/main_background_desktop@2x.png");
  }

  @media (max-width: $max-tablet-width) {
    background-image: url("../img/backgrounds/main_background_tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/main_background_tablet@2x.png");
    }
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../img/backgrounds/main_background_mobile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/main_background_mobile@2x.png");
    }
  }
}
