.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: none;
  width: 100%;
  height: 100%;

  color: $color-default-white;

  background-color: rgba($color-dark-blue, 0.7);
}

.modal h3 {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
}

.modal p {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-family: $ff-alternative;

  @media (max-width: $max-mobile-width) {
    font-size: 16px;
    line-height: 22px;
  }
}

.modal.is-active {
  display: flex;
}

.modal__wrapper {
  position: relative;

  width: 500px;
  height: 610px;
  margin: 145px auto;
  padding: 38px;

  background-color: $color-light-blue;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 23px;

  width: 40px;
  height: 40px;

  background-color: transparent;
  background-image: url("../img/svg/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;

  &:hover {
    background-color: $color-dark-blue;
  }

  &:active {
    opacity: 0.3;
  }
}
