.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 calc(50vw - 590px);

  @media (max-width: $vp-1024) {
    padding: 0 calc(50vw - 460px);
  }

  @media (max-width: $max-tablet-width) {
    padding: 0 50px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 0 25px;
  }
}
